{{>layout/header}}

<div class="container">
    <div>
        <h1>인하대학교 공지 알림 전송앱 관리자 페이지</h1>
        <p>
            <a href="/crawling" role="button" class="btn btn-primary">크롤링 진행</a>
        </p>
        <p>
            <a href="" role="button" class="btn btn-primary">크롤링 대상 목록</a>
        </p>
        <p>
            <a href="/category/new" role="button" class="btn btn-primary">크롤링 대상 목록 추가</a>
        </p>
        <p>
            <a href="" role="button" class="btn btn-primary">DB 공지 목록</a>
        </p>
    </div>
</div>

{{>layout/footer}}