{{>layout/header}}

<div class="container">
    <div>
        <p>
            <a href="/crawling" role="button" class="btn btn-primary">크롤링 진행</a>
        </p>
        <p>
            <a href="/category/list" role="button" class="btn btn-primary">크롤링 대상 목록</a>
        </p>
        <p>
            <a href="/category/new" role="button" class="btn btn-primary">크롤링 대상 목록 추가</a>
        </p>
        <p>
            <a href="/notice/list" role="button" class="btn btn-primary">DB 공지 목록</a>
        </p>
    </div>
</div>

{{>layout/footer}}